/* --------------------------------------------------------
	Jolt Global CSS File

	Version: 	1.1.0
	Author: 	Steven Morrison

	Website:	jolt.zaffri.com
	GitHub:		github.com/Zaffri
-------------------------------------------------------- */

/* Box sizing - include pad,marg & borders in width */
	html {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
		-moz-box-sizing: inherit;
		-webkit-box-sizing: inherit;
	}

/* Reset margin & padding for all elements */
	* {
		margin: 0;
		padding: 0;
	}

/* Global body properties */
	body {
		font-size: 16px;
		color: #2f2f2f;
		background: #fcfcfc;
		font-family: 'Oxygen', Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif; /* Font media query styles placed here 1.1 */
		font-weight: 300;
	}

/* Anchor links */
	a {
		text-decoration: none;
		color: #0caad7;
	}

/* Images */
	img {
		border: none;
		outline: none;
	}

/* Buttons */
button {
	border: none;
	outline: none;
}

/* Containers */
	.container {
		width: 100%;
	}

	.container-mid {
		width: 1280px;
		margin: auto;
	}
	@media (max-width: 1280px) {
		.container-mid {
			width: 100%;
		}
	}

/* Small devices - cell classes */
	@media (max-width: 767px) {

		.small-cell-1 {
			width: 8.33333333333%;
		}

		.small-cell-2 {
			width: 16.6666666667%;
		}

		.small-cell-3 {
			width: 25%;
		}

		.small-cell-4 {
			width: 33.3333333333%;
		}

		.small-cell-5 {
			width: 41.6666666667%;
		}

		.small-cell-6 {
			width: 50%;
		}

		.small-cell-7 {
			width: 58.3333333333%;
		}

		.small-cell-8 {
			width: 66.6666666667%;
		}

		.small-cell-9 {
			width: 75%;
		}

		.small-cell-10 {
			width: 83.3333333333%;
		}

		.small-cell-11 {
			width: 91.6666666667%;
		}

		.small-cell-12 {
			width: 100%;
		}

		.small-clear {
			clear: both;
		}
		
		.small-cell-1 , .small-cell-2, .small-cell-3, .small-cell-4, .small-cell-5, .small-cell-6, .small-cell-7, .small-cell-8, .small-cell-9, .small-cell-10, .small-cell-11, .small-cell-12 {
			float: left;
		}

	}

/* Medium devices - cell classes */
	@media (min-width: 768px) {

		.medium-cell-1 {
			width: 8.33333333333%;
		}

		.medium-cell-2 {
			width: 16.6666666667%;
		}

		.medium-cell-3 {
			width: 25%;
		}

		.medium-cell-4 {
			width: 33.3333333333%;
		}

		.medium-cell-5 {
			width: 41.6666666667%;
		}

		.medium-cell-6 {
			width: 50%;
		}

		.medium-cell-7 {
			width: 58.3333333333%;
		}

		.medium-cell-8 {
			width: 66.6666666667%;
		}

		.medium-cell-9 {
			width: 75%;
		}

		.medium-cell-10 {
			width: 83.3333333333%;
		}

		.medium-cell-11 {
			width: 91.6666666667%;
		}

		.medium-cell-12 {
			width: 100%;
		}

		.medium-cell-1 , .medium-cell-2, .medium-cell-3, .medium-cell-4, .medium-cell-5, .medium-cell-6, .medium-cell-7, .medium-cell-8, .medium-cell-9, .medium-cell-10, .medium-cell-11, .medium-cell-12 {
			float: left;
		}

		.medium-clear {
			clear: both;
		}

		.full-background {
			background-attachment: fixed;
		}

	}

/* Large devices - cell classes */
	@media (min-width: 1280px) {

		.large-cell-1 {
			width: 8.33333333333%;
		}

		.large-cell-2 {
			width: 16.6666666667%;
		}

		.large-cell-3 {
			width: 25%;
		}

		.large-cell-4 {
			width: 33.3333333333%;
		}

		.large-cell-5 {
			width: 41.6666666667%;
		}

		.large-cell-6 {
			width: 50%;
		}

		.large-cell-7 {
			width: 58.3333333333%;
		}

		.large-cell-8 {
			width: 66.6666666667%;
		}

		.large-cell-9 {
			width: 75%;
		}

		.large-cell-10 {
			width: 83.3333333333%;
		}

		.large-cell-11 {
			width: 91.6666666667%;
		}

		.large-cell-12 {
			width: 100%;
		}

		.large-cell-1 , .large-cell-2, .large-cell-3, .large-cell-4, .large-cell-5, .large-cell-6, .large-cell-7, .large-cell-8, .large-cell-9, .large-cell-10, .large-cell-11, .large-cell-12 {
			float: left;
		}

		.large-clear {
			clear: both;
		}

	}


/* Alignment classes */

	.img-center {
		display: block;
		margin: 0 auto;
	}

	/* Block centering */
	.vh-area {
		display: table;
	}

	.vh-content {
		display: table-cell;
		vertical-align: middle;
	}

	.element-center {
		margin: 0 auto;
	}

/* Full page background */
	.full-background {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		background-attachment: scroll;
		background-repeat: no-repeat;
		min-height:100vh;
		width: 100%;
	}

/* Custom button */
	button {
		background: #1ba6e6;
		border-bottom: solid 3px #177aa9;
		padding: 12px 30px 12px 30px;
		color: #f6fafb;
		font-weight: bold;
		cursor: pointer;
	}

	button:hover {
		color: #fff;
		background: #3ab5ee;
		border-bottom: solid 3px #c7f5ef;
		-webikit-transition: background 0.5s ease-in-out;
		-moz-transition: background 0.5s ease-in-out;
		-ms-transition: background 0.5s ease-in-out;
		-o-transition: background 0.5s ease-in-out;
		transition: background 0.5s ease-in-out;
	}

/* Responsive images */
	.img-elastic {
		width: 100%;
		height: auto;
	}

/* Clear */
	.clear {
		clear: both;
	}

/* Text align */

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}
