/* I quickly styled the site to make it less boring. Bad code to follow*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    background: #f2f2f2
}
section#header {
    background: #009845;
    height: 30vh;
    width: 100%;
}
section#header h1 {
    color: #F5F6F7;
    font-family: 'Montserrat', sans-serif; font-weight: 700; 
    margin-bottom: 20px;
}
section#header p {
    color: #F5F6F7;
}
.icon {
    color: #FFF;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
.social {
    margin-top: 20px;
}
.v-center {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section#main-section {
    margin-top: 50px;
}
.group-item {
    border:0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px 0px 20px 0px;
}
ul > li {
    list-style: none;
}
input {
    padding: 20px;
    border: 0;
}

@media only screen and (max-width: 1300px) {
    .list-group-item {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 800px) {
    section#main-section {
        margin-top:1px;
    }
    p, span {
        display: none
    }
}